name: Update servers list
on:
  pull_request:
  schedule:
    - cron: "11 3 1 */2 *" # Run at 03:11 on the 1st of every 2nd month
jobs:
  check-for-updates:
    # if: github.repository == 'qdm12/gluetun'
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: write
    steps:
      - uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Update servers list
        env:
          STORAGE_FILEPATH: /tmp/sfp
        run: |
          go run ./cmd/gluetun/main.go update -all -maintainer -minratio 0.2

      - name: Commit updated servers list
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git checkout -B bot/update-servers-list
          git add -A
          git commit -m "Update maintainers servers list" || echo "No changes"
          git push bot/update-servers-list

      - name: Create Pull Request
        env:
          GITHUB_TOKEN: ${{ secrets.UPDATE_SERVERS_LIST_PAT }}
        run: |
          gh pr create --title "Update servers list" --body "This Auto Generated PR updates the servers list." --base master --head bot/update-servers-list
